<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/blog-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class='blog-post-contents'>
            <div class='blog-post-title-div'>
                <h2 id='blog-post-title'></h2>
            </div>
            <div>
            <p id='blog-post-body'></p>
            <h3 id='comments-title'>Comments</h3>
            <ol id='blog-post-comments'></ol>
        </div>
    </div>

    {{>footer}}

    <script src="/js/blog-post.js"></script>
</body>

</html>