<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/blog-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <ol id="blog-posts"></ol>
    </div>

    {{>footer}}

    <script src="/js/index.js"></script>
</body>

</html>