body {
    color: #2D5362;
    font-family: arial;
    max-width: 80%;
    margin: 0 auto;
    font-size: large;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: beige;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #808080;
    border-top: 1px solid #2D5362;
    margin-top: 1em;
    padding: .5em 0;
}

header {
    margin-top: 1em;
    margin-bottom: 1em;
}

header a {
    color: #2a9d8f;
    margin-right: 1em;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    color: #e76f51;
}

#blog-posts {
    list-style-type: none; 
    padding-left: 0;
}

.blog-post-list-element a {
    color: #2D5362;
    text-decoration: none;
    font-size: 32px;
}

.blog-post-list-element {
    margin-top: 1em;
    background-color: #F4A261;
    padding: 1em;
    border-radius: 1em;
}

#blog-post-comments {
    list-style-type: none; 
    padding-left: 0;
}

.comment-list-element a {
    color: #333333;
    text-decoration: none;
}

.comment-count {
    font-size: smaller;
    margin-top: 1em;
}

.comment-name-div {
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}

.comment-text-div {
    overflow-wrap: break-word;
}

#blog-post-title {
    font-size: 32px;
}

.blog-post-title-div {
    margin-top: 1em;
}

.footer-text {
    color: #e76f51;
}

.blog-post-contents {
    background-color: #F4A261;
    padding: 1em;
    border-radius: 1em;
}

#comments-title {
    margin-top: 2em;
}